body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100hv;
    align-items: center;
    background-color: #DDF7E3;
    color: 5D9C59;
    font-family: sans-serif;
}

.container{
    text-align: center;
    width: 400px;
    position: relative;
}

.counter{
    font-size: 40px;
}

.loading-bar-back{
    position: absolute;
    height: 8px;
    background-color: white;
    width: 100%;
    border-radius: 5px;
    border: none;
}

.loading-bar-front{
    position: absolute;
    height: 8px;
    background-color: #DF2E38;
    width: 0%;
    border-radius: 5px;
    border: none;
}